{% extends 'baseLogin.html.twig' %}

{% block title %}Registrate{% endblock %}

{% block body %}
    <div id="content">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Unete y escribe con nosotros!!</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}        
            <span id="message-username" class="message">Usuario no diponible</span>
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.last_name) }}
            {{ form_row(registrationForm.email) }}
            <span id="message-email" class="message">Correo no diponible</span>
            {{ form_row(registrationForm.agreeTerms) }}

            <div id="butForm"><button id="buttonSubmit" type="submit" class="button">Registrate</button></div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
