{% extends 'base.html.twig' %}

{% block title %}Hablemos de música: contacto{% endblock %}

{% block body %}
<div class="sectionAll">
<div id="formContact">
	<h1>Contacto</h1>

	    {{ form_start(form) }}
	        {{ form_row(form.name) }}        
	        {{ form_row(form.email) }}
	        {{ form_row(form.message) }}
	        

	        <div id="butForm">
	        	<button name="enviar" type="submit" class="button">Enviar</button>
	        </div>	
	    {{ form_end(form) }}
</div>
</div>
{% endblock %}
