{% extends 'base.html.twig' %}

{% block title %}Hablemos de música: Blog{% endblock %}

{% block body %}
<div class="sectionAll">
	<div id="titBlog">
		<h1 class="title">Nuestros Blogs</h1>
	</div>

	<div id="listBlogs">
		{% for blog in blogs %}
		    <a href="{{ url('id_blog',{'id':blog.idBlogPost}) }}">{{blog.title}}</a><br/>
		{% endfor %}
	</div>
	<div id="contentBlog">
		{% if blogSelect %}
			<h3>{{ blogSelect.title }}</h3>
			<h4>{{ blogSelect.subtitle }}</h4>
			<h5>Autor: {{ blogSelect.idUser.name }} {{ blogSelect.idUser.lastName }} </h5>
			{% if blogSelect.datePost %}
				<h6>{{ blogSelect.datePost.format('Y-m-d H:i:s') }} </h6>
			{% endif %}
			{% if blogSelect.image %}
				<img src="{{asset('uploads/images/') ~ blogSelect.image}}">
			{% endif %}
			{%  for p in blogSelect.body|split('\n') %}
			    <p>{{ p }}</p>
			{% endfor %} 
			
		{% endif %}
</div>
</div>
{% endblock %}
