{% extends 'base.html.twig' %}

{% block title %}Editar blog{% endblock %}

{% block body %}
<div class="sectionAll">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div id="formBlog">
    <h1>Actualizando mi blog!</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}        
        {{ form_row(form.body) }}
        {{ form_row(form.image) }}
        
        <div id="butForm">
            <button type="submit" class="button">Actualizar</button>
        </div>    
    {{ form_end(form) }}
    </div>
</div>    
{% endblock %}